<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<!-- Store Configuration -->
	<add key="StoreId" value="6" />
	<add key="Store" value="#006" />
	<add key="pointedTo" value="publicDev" />


	<add key="Override1am" value="false" />
	<add key="ClientSettingsProvider.ServiceUri" value="" />

	<add key="consoleReadKey()" value="true"/>
	<add key="hourOverride" value="15"/>
	<!--Date Override requires hour override-->
	<add key="dateOverride" value="2020-12-01"/>
	<add key="disableReconcilliation" value="false"/>
</appSettings>